.container {
    
}

.editButton {
    background-color: #ffffff;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
}

.editButton:hover {
    opacity: 0.8;
    background-color: #90d194;
}

.editButton:hover {
    opacity: 0.8;
}

.editButton span {
    font-size: 2rem;
    color: #fff;
}

.panel {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    z-index: 10;
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.open {
    right: 0;
}

.panel .closeButton {
    position: absolute;
    top: 1rem;
    left: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    color: #333;
}

.panel .form {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.panel .form .left {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel .form .right {
    width: 50%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel .form .left .imageUploadContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-radius: 10px;
}

.panel .form .left .imageUploadContainer .imageUpload {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel .form .left .imageUploadContainer .imageUpload img {
    width: 90%;
    height: auto;
    margin: auto;

    border-radius: 10px;
}

.panel .form .left .imageUploadContainer .imageUpload span {
    font-size: 2.5rem;
    color: #333;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.imageContainer {
    display: flex;
    flex-direction: column;
}


.panel .form .left .imageUploadContainer .imageUpload span:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

.panel .form .inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.panel .form .inputContainer label {
    font-size: 1rem;
    color: #333;
}

.panel .form .inputContainer input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    outline: none;
    border: 2px solid #eee;
    border-radius: 5px;
    background-color: #eee;
    font-size: 1rem;
    color: #333;
    transition: all 0.1s ease-in-out;
}

.panel .form .inputContainer input:focus {
    border: 2px solid #84A59D;
}

.panel .form .inputContainer textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    outline: none;
    border: 2px solid #eee;
    border-radius: 5px;
    background-color: #eee;
    font-size: 1rem;
    color: #333;
    transition: border 0.1s ease-in-out;
}

.panel .form .inputContainer textarea:focus {
    border: 2px solid #84A59D;
}

.panel .form .inputContainer .submitButton {
    width: 100%;
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #84A59D;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.panel .form .inputContainer .submitButton:hover {
    opacity: 0.8;
}